@use "./color" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// FONT VARIABLES
$font-display: "Inter", sans-serif;
$font-primary: "Poppins", sans-serif;

:root {
  // --space-side: 14rem;
  --space-side: 10rem;
  --space-padding: 4.7rem;
  --radius-main: 1rem;
  @media (max-width: 1300px) {
    // --space-side: 12rem;
    --space-side: 9rem;
  }
  @media (max-width: 1200px) {
    // --space-side: 9rem;
    --space-side: 7rem;
  }
  @media (max-width: 1100px) {
    // --space-side: 7rem;
    --space-side: 5rem;
  }
  @media (max-width: 900px) {
    // --space-side: 5rem;
    --space-side: 4rem;
    --space-padding: 2.7rem;
  }
  @media (max-width: 700px) {
    --space-side: 4rem;
    --space-side: 3.5rem;
  }
  @media (max-width: 430px) {
    // --space-side: 3.5rem;
    --space-padding: 1.2rem;
  }
  @media (max-width: 360px) {
    // --space-side: 2rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $color-black;
  background-color: $color-white;
}

.align {
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
}
.heading {
  &--h1 {
    /* Heading 1 */
    color: $color-white;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &--h2 {
    /* Heading 2 */
    color: $color-black;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &--h3 {
    /* Heading 3 */
    color: $color-orange;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    font-weight: 600;
    line-height: normal;
    opacity: 0.9;
  }
  &--h4 {
    /* Heading 4 */
    color: $color-white;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.p {
  &__sm {
    &--light {
      color: $color-white;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.8;
    }
    &--normal {
      color: $color-black;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__reg {
    &--italic {
      color: $color-grey;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
    }
    &--light {
      color: $color-grey;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &--normal {
      color: $color-black;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &--strong {
      color: $color-black;
      font-size: 1.6rem;
      font-style: normal;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &--special {
      color: $color-white;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.5rem; /* 156.25% */
      opacity: 0.8;
    }
  }

  &__lg {
    &--strong {
      color: $color-black;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &--special {
      color: $color-white;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 25.2px */
    }
  }
}
.click__basic {
  text-decoration: none;
  &:hover {
    transform: translateY(0);
    transition-duration: 0.35s;
  }
  &:active {
    transform: translateY(0.2rem);
    transition-duration: 0.35s;
  }
}
.shadow {
  box-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.06);
  // box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
}
.shadow-2 {
  box-shadow: none;
  box-shadow: 0 3px 3px rgba(217, 131, 77, 0.12),
    0 4px 4px rgba(217, 131, 77, 0.12);
}

.container {
  width: 100%;
  position: relative;
  // border: 1px solid green;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
    padding: 9rem var(--space-side);
    padding: 9rem var(--space-side) 9rem var(--space-side);
  }
  &__fix {
    width: 100%;
    z-index: 888;
    position: fixed;
    top: 0;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
    // padding: 2.3rem var(--space-side) 2rem var(--space-side);
    padding: 1.3rem var(--space-side) 1rem var(--space-side);
    // border: 1px solid green;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
    padding: 9rem var(--space-side) 4rem var(--space-side);
  }
}

// RESPONSIVE FONT SIZE ADJUSTMENTS
@media (max-width: 1100px) {
  html {
    font-size: 62%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 44%;
  }
}
