// COLOR VARIABLES
$color-white: #fff;
$color-black: #4a4646;
$color-orange: #ca7818;

$color-grey: #706e6c;
$color-grey-2: #fefefe;
$color-grey-3: #fcfbfa;

.bg {
  &__white {
    background-color: $color-white;
  }
  &__grey-2 {
    background-color: $color-grey-2;
  }
  &__grey-3 {
    background-color: $color-grey-3;
  }
  &__orange {
    background-color: $color-orange;
  }
}

.color {
  &__white {
    color: $color-white !important;
  }
  &__orange {
    color: $color-orange !important;
  }
}
