@use "../global/" as *;

.about {
  width: 100%;
  padding-left: var(--space-padding);
  // border-radius: 1.4rem;
  border-radius: var(--radius-main);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    background-image: linear-gradient(
        rgba($color-white, 0.4),
        rgba($color-white, 0.6),
        rgba($color-white, 0.9)
      ),
      url("/about-img.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2rem var(--space-padding);
  }
  & .heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4rem;
  }
  &__message {
    margin-top: 2rem;
  }
  &__image {
    width: 100%;

    border-top-right-radius: var(--radius-main);
    border-bottom-right-radius: var(--radius-main);

    & img {
      width: 100%;

      border-top-right-radius: var(--radius-main);
      border-bottom-right-radius: var(--radius-main);
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
}
