@use "../global/" as *;
.class {
  width: 100%;
  padding: 0rem var(--space-padding);
  & .heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 4rem;
    @media (max-width: 800px) {
      align-items: center;
      // align-items: start;
    }
    @media (max-width: 500px) {
      align-items: start;
    }
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 8rem;
    row-gap: 4rem;
    @media (max-width: 800px) {
      padding: 0rem 12rem;
    }
    @media (max-width: 700px) {
      padding: 0rem 8rem;
    }
    @media (max-width: 600px) {
      padding: 0rem 6rem;
    }
    @media (max-width: 500px) {
      padding: 0rem 0rem;
    }
  }
  &__item {
    padding: 1.2rem 1.6rem;
    border-radius: 1.4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: $color-white;

    &--image {
      width: 100%;
      border-radius: 1.4rem;
      margin-bottom: 1rem;
      & img {
        width: 100%;
        height: 100%;
        border-radius: 1.4rem;
      }
    }

    & .p__reg--strong {
      margin-bottom: 1.4rem;
      text-align: center;
    }
    &--first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }
    &--last {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--btn {
      padding: 0.4rem 2rem;
      background-color: $color-orange;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.4rem;
      cursor: pointer;
      &--link {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
  // &__cta {
  //   margin-top: 3rem;
  //   text-align: end;
  //   &--btn {
  //     color: inherit;
  //     font-size: 1.6rem;
  //     font-weight: 400;
  //   }
  // }
}
